fastapi
uvicorn[standard]>=0.22.0,<0.23.0
motor==3.6.0
pydantic~=2.11.4
python-json-logger>=2.0.7,<2.1.0
prometheus-client
passlib[bcrypt]>=1.7.4,<1.8.0
python-jose[cryptography]
python-dotenv>=0.21.0,<0.22.0
pytest>=7.3.0,<7.4.0
pytest-asyncio>=0.21.0,<0.22.0
httpx>=0.25.0,<0.26.0
black>=23.9.0,<24.0.0
isort>=5.12.0,<6.0.0
flake8>=6.0.0,<6.1.0
mypy>=1.5.0,<1.6.0
pymongo>=4.9
pydantic-settings~=2.9.1
starlette
typing_extensions~=4.13.2
sniffio~=1.3.1
click~=8.1.8
ipython~=8.28.0
email_validator~=2.2.0
pydantic_core~=2.33.2
requests~=2.32.3
websockets~=15.0.1
anyio~=4.9.0
annotated-types~=0.7.0
itsdangerous~=2.2.0
PyYAML~=6.0.2
Jinja2~=3.1.6
protobuf~=5.29.1
toml~=0.10.2